*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}


html{
    font-size: 62.5%;
}

.main{
    width: 100%;
}

.main_tittle{
    text-align: center;
    font-size: 5rem;
    padding: 2rem;
}

.card_Section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 6rem;
    padding: 2rem;
}


.card{
    border: 1px solid #E1E1E1;
    max-width: 20rem;
    max-height: 35rem;
    padding: 2rem;
    box-shadow: 0 0 10px #D1D1D1;
    transition: transform 1s ease;
}

.card:hover{
    transform: scale(1.1);
}


.card-tittle{
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    border-bottom: 1px solid #D1D1D1;
}

.card-img{
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
}

.card-paragraph{
    font-size: 1.5rem;
    text-align: center;
    margin-top: 2rem;
}

.form{
    text-align: center;
    padding: 2rem;
    width: 100%;
}

.form_text_input{
    text-align: center;
    width: 60%;
    font-size: 2.5rem;
}

.form_submit{
    background-color:deepskyblue;
    font-size: 2rem;
    margin-left: 1rem;
    font-weight: 700;
    color: aliceblue;
    border: none;
    padding: 1rem;
}

.form_submit:hover{
    background-color:rgba(0, 191, 255, 0.719);
}